<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Insert title here</title>
    <!-- <script type="text/javascript" src="/js/demo.js"></script> -->
    <style>
        .player-placeholder {
          display: none;         
        }
        .video-container {
          margin-bottom: 1.5em;
        }
        .controls button {
          margin-right: 0.5em;
        }
        .controls .seek-bar {
          width: 320px;
          margin-top: 0.5em;
        }
      </style>
</head>

<body>
    <h2>YouTube Search</h2>

    <form id="searchForm">
        <input type="text" id="searchInput" placeholder="Enter song or video name..." required>
        <button type="submit">Search</button>
    </form>

    <div id="results"></div>
    <!-- 1. Load the IFrame Player API asynchronously -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- 2. Then your demo.js -->
    <script type="text/javascript" src="/js/demo.js"></script>
</body>

</html>