<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Insert title here</title>
    <script type="text/javascript" src="/js/demo.js"></script>
</head>

<body>
    <h2>YouTube Search</h2>

    <form id="searchForm">
        <input type="text" id="searchInput" placeholder="Enter song or video name..." required>
        <button type="submit">Search</button>
    </form>

    <div id="results"></div>
</body>

</html>